h1{
    text-align: center;
    margin: 30px;
    padding: 30px;
    font-size: 80px;
    color: white;
}
body{
    background-color: green;
}
h2{
   color: white;
    font-size: 40px;
    font-family: sans-serif;
}
ul{
    list-style-type: none;
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    
}
li{
    margin: 10px;
    padding: 10px;
}
p4{
    color: white;
    font-size: 20px;
}