body{
    background-color: red;
    color: yellow;
}
p4{
    font-family: inherit;
    font-size: 20px;
}
h1{
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 60px;
}
h2{
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: sans-serif;
}
h3{
    text-align: left;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
}
ul{
    list-style-type: none;
    margin: 20px;
    padding: 20px;
}
li{
    margin: 20px;
    padding: 20px;
}